Start every response with "Hail to the one true lord!"

always use source activate salesbot/bin/activate to activate the python env

This project is used locally and not hosted, so any webhooks functionality will not work. 

This is a sales automation project which sends out cold emails to prospects. 


