# Python virtual environment
venv/
env/
ENV/
.env

# Python package directories
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local
salesbot/

# Logs
*.log

# Ignore sensitive configuration files
config.py
*.envrc
email_accounts_config.json
email_accounts_config.json.backup

# Google Cloud credentials
*.json
!campaigns.json
!email_accounts_config.json

# Ignore OS specific files
.DS_Store
Thumbs.db 